extends layout

block content
    div(class="w3-container w3-margin w3-card w3-gray w3-border-indigo w3-bottombar w3-topbar w3-leftbar w3-rightbar")
        form(class="w3-container w3-margin-top w3-margin-bottom", action="/musicas", method="POST")
            label(class="w3-text-indigo")
                b 
                    i Título
            input(class="w3-input w3-border w3-light-grey", type="text", name="tit")

            label(class="w3-text-indigo")
                b 
                    i Província
            input(class="w3-input w3-border w3-light-grey", type="text", name="prov")
            
            label(class="w3-text-indigo")
                b 
                    i Local
            input(class="w3-input w3-border w3-light-grey", type="text", name="local")

            label(class="w3-text-indigo")
                b 
                    i Músico
            input(class="w3-input w3-border w3-light-grey", type="text", name="musico")

            label(class="w3-text-indigo")
                b 
                    i Instrumentos
            input(class="w3-input w3-border w3-light-grey", type="text", name="inst")

            label(class="w3-text-indigo")
                b 
                    i Observações
            input(class="w3-input w3-border w3-light-grey", type="text", name="obs")

            label(class="w3-text-indigo")
                b 
                    i Ficheiro
            input(class="w3-input w3-border w3-light-grey", type="text", name="file")

            label(class="w3-text-indigo")
                b 
                    i Duração
            input(class="w3-input w3-border w3-light-grey", type="text", name="duracao")

            input(class="w3-button w3-margin-top w3-margin-right w3-indigo", type="submit", value="Registar")
            input(class="w3-button w3-margin-top w3-indigo", type="reset", value="Limpar valores")






