head
    meta(charset='utf-8')
    link(rel='stylesheet' type='text/css' href='/stylesheets/style.css')
    link(rel='icon' type='image/x-icon' href='/images/favicon.ico')
    script(src='/javascripts/jquery-3.6.0.min.js')
    script(src='/javascripts/repositorio.js')
    script(src='https://kit.fontawesome.com/5c1bddedbb.js' crossorigin='anonymous')
    title Datalog - RRD

    style.
      @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,400&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Akshar&display=swap');

      @media only screen and (max-width: 600px) { 
        #barra_lateral { 
          display: none;
        }

        #info_recursos {
          margin-top: 250px;
        }
      }

      * {
      font-family: 'Sanchez', serif;
      }

      .w3-bar-item {
        font-family: 'Akshar',sans-serif;
        font-size: 18px;
        text-decoration: none;
      }

      .w3-bar-item:hover {
        color: #5E9FA2;
      }

      .a.w3-bar-item a.active {
        background-color: #2196F3;
      }

      .barra-topo a.w3-bar-item {
        height:45px;
      }

