doctype html
html
  head
    title Ficheiros
    meta(charset='utf-8')
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel="icon", href="/images/favicon.png")
    script(src="https://kit.fontawesome.com/5c1bddedbb.js", crossorigin="anonymous")
    style.
      .content {
      padding: 30px;
      font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
      }
      .w3-bar a {
        text-decoration: none;
      }
  body
    block content
